<!DOCTYPE html>
<html>
<head>
<title>kite-copier</title>
</head>
    <body>
        <div class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-center">
                <div class="uk-navbar-center">
                        <a href='/' class="uk-navbar-item uk-logo">home</a>
                        <a href='/margins' class="uk-navbar-item uk-logo">margins</a>
                </div>
                <a href="" class="uk-navbar-item uk-logo"></a>
                <div class="uk-navbar-center-right"></div>
            </div>
        </div>
        <div class='uk-container uk-container-small'>
                {% block content %}
                {% endblock content %}
        </div>
    </body>
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.15/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.15/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.15/dist/js/uikit-icons.min.js"></script>

</html>


