<!DOCTYPE html>
<html lang="en" data-theme="winter">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="mx-auto min-h-screen overflow-auto bg-blue-200">
    <!-- navigation -->
    <div class="navbar bg-primary">
      <div class="mx-auto navbar-center">
          <ul class="menu menu-horizontal px-1">
            {% for v in pages %}
              <li><a 
              {% if v == title %}
                  class="active" 
              {% endif %}
              href='/{{ v }}'>{{ v }}</a></li>
            {% endfor %}
          </ul>
      </div>
    </div>
    {% block form %}
    {% endblock form %}
    {% block content %}
    {% endblock content %}
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
{% if title=='get_orders' %}
<script> 
/* consumed by modify and cancel order */ 
const getRows = (my) => {
  const tr =   my.parentNode.parentNode
  const tdes = tr.children
  let keys = []
  for (i = 0; i< tdes.length; i++) {
    inner = tdes[i].textContent
    keys[i] = inner
  }
  console.log(keys)
  let data = '';
  if (keys[3] == 'LIMIT') {
    data = 'LMT'
  } 
  else if(keys[3] == 'MARKET') {
    data = 'MKT'  
  }
  else if(keys[3] == 'STOPLOSS_LIMIT') {
    data = 'SL'  
  }
  else if(keys[3] == 'STOPLOSS_MARKET') {
    data = 'SL-M'  
  }

  const otype = document.querySelectorAll(`input[data-title=${data}]`)
  otype[0].setAttribute('checked', 'checked') 
  let pdata = '';
  if (keys[4] == 'CARRYFORWARD') {
    pdata = 'NRML' 
  } 
  else if(keys[4] == 'INTRADAY') {
    pdata = 'MIS'  
  }
  else if(keys[4] == 'DELIVERY') {
    pdata = 'CNC'  
  } 
  const ptype = document.querySelectorAll(`input[data-title=${pdata}]`)
  ptype[0].setAttribute('checked', 'checked') 
  const price = document.getElementById('price')
  price.value = keys[5]
  const trigger = document.getElementById('trigger')
  trigger.value = keys[6]
  const qty = document.getElementById('qty')
  qty.value = keys[7]
  const symbol = document.getElementById('symbol')
  symbol.value = keys[8]
  const txn = document.getElementById('txn')
  if (keys[9] == 'BUY') {
    txn.setAttribute('checked', 'checked') 
  } else {
    txn.removeAttribute('checked')
  }
  sync_frm_clr(keys[9])

  const exchange = document.getElementById('exchange')
  exchange.value = keys[10]
  const token = document.getElementById('token')
  token.value = keys[11]
  const order_id = document.getElementById('order_id')
  order_id.value = keys[12]
  // key10 is empty
  // key11 is condition for this loop
  if (keys[14] == 'cancelled') {
    data = 'DONT_DO_ANYTHING'
  } else
  if (keys[14] == 'complete') {
    data = 'DONT_DO_ANYTHING'
  } else
  if (keys[14] == 'rejected') {
    data = 'DONT_DO_ANYTHING'
  }
  const client_name = document.getElementById('client_name')
  client_name.value = keys[15]
  const title = document.getElementById('title')
  title.innerHTML = symbol.value + ' (' + client_name.value + ')'
  return data
}

/* order modify */
//  consumes get_data and buildLtpUrl 
// requests.js
const mdlOrderModify = (status) =>  {
  const modal4 = document.getElementById('my-modal-4') 
  if (status == 'DONT_DO_ANYTHING') {
    modal4.click()
  } else { 
   const key = buildLtpUrl() 
    if (key.length > 0)
    {
      get_data('/ltp/', key).then(data => {
      document.getElementById('ltp').value = data[0][0];
      });
    }
  }
}

const btnMod = document.getElementsByClassName('btn-mod')
for(let i = 0; i < btnMod.length; i++) {
  btnMod[i].addEventListener('click', function() {
    const order_status = getRows(this)
    mdlOrderModify(order_status)
  })
}
/*  cancel order */
// consumes get_data from requests.js //
const getCancelOrder = (otype) => {
  let key = '?client_name=';
  if (client_name.value.length > 0) {
    key += client_name.value; }
  else { return }
  if (order_id.value.length > 0) {
    key = key + '&order_id=' + order_id.value; }
  else { return }
  if(otype =='SL' || otype =='SL-M') {
    key = key + '&variety=STOPLOSS' 
  } else if(otype =='MKT' || otype =='LMT') {
    key = key + '&variety=NORMAL' 
  } else { return }
  get_data('/order_cancel/', key).then(result => {
      // only change is the below
      console.log(result)
  })
}

const btnCncl = document.getElementsByClassName('btn-cncl')
for(let i = 0; i < btnCncl.length; i++) {
  btnCncl[i].addEventListener('click', function() {
    const data = getRows(this)
    getCancelOrder(data) 
  })
}
</script> 
{% endif %}
<!-- end of orders -->
{% if title=='positions' %}
  <script src="../static/positions.js"></script>
{% endif %}
{% if title == 'new' %}
  <script src="../static/new.js"></script>
  <script src="../static/autocomplete.js"></script>
{%  endif %}
  </body>
</html>


