{% extends "base.html" %}
{%  block form  %}
<form method='post' action='/orders/' id="frm" autocomplete="off" class="mx-auto p-5 bg-red-300 w-full max-w-lg">

  <div class="btn-group">
    <input type="radio" name="product" value="NRML" data-title="NRML" class="btn btn-sm"/>
    <input type="radio" name="product" value="MIS" data-title="MIS" class="btn btn-sm" checked/>
    <input type="radio" name="product" value="CNC" data-title="CNC" class="btn btn-sm"/>
    &nbsp; &nbsp; &nbsp;
    <input type="radio" name="order" value="MARKET" data-title="MKT" class="btn btn-sm" checked/>
    <input type="radio" name="order" value="LIMIT" data-title="LMT" class="btn btn-sm"/>
    <input type="radio" name="order" value="SL" data-title="SL" class="btn btn-sm"/>
    <input type="radio" name="order" value="SL-M" data-title="SL-M" class="btn btn-sm"/>
  </div>

  <div class="form-control autocomplete relative inline-block w-full">
    <label class="label">
      <span class="label-text">Trading Symbol</span>
      <span class="label-text">Exchange</span>
    </label>
    <input id="symbol" name="symbol" type="text" class="input input-sm input-bordered" style="width:70%">
    <input id="exchange" name="exchange" type="text" class="disabled input input-sm float-right" style="width:18%" placeholder="Exchange"/>
  </div>

  <div class="form-control relative inline-block">
    <label class="label">
      <span class="label-text">Price</span>
      <span class="label-text">Trigger</span>
      <span class="label-text">Quantity</span>
    </label>
    <input type="number" id="price" name="price" class="input input-sm input-bordered caret-blue-500 required" min="0" value="0" step="0.05" style="width:25%"/>
    <input type="number" id="trigger" name="trigger" class="input input-sm input-bordered required"  min="0" value="0" step="0.05" style="width:25%"/>
    <input type="number" id="lotsize" name="trigger" class="input input-sm input-bordered float-right" min="0" value="0" style="width:25%"/>
    <!-- span id="lotsize" name="lotsize" class="label-text-alt"></span-->
  </div>

  <div class="form-control">
    <label class="label cursor-pointer">
      <span class="label-text text-lg">SELL</span>
      <input id="txn" type="checkbox" name="txn" class="toggle toggle-lg bg-red-300 checked:bg-green-500"/>
      <span class="label-text text-lg">BUY</span>
    </label>
</div>
{% endblock form %}

{% block content %}
  {% if body %}
  <table class="mx-auto table">
    <tbody>
      {% for dct in body %}
    <tr>
        <td>
          <label class="label">
            <span class="label px-3">{{ dct.userid }}</span>&nbsp
            <input name="userid" type="text" value="{{dct.userid}}" hidden/>
            <input name="multiplier" type="text" value="{{dct.multiplier}}" hidden/>
            <input name="qty" type="number" class="input input-primary input-sm input-bordered" value="0"/>
          </label>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3">
          <input type="submit" class="btn btn-primary btn-outline btn-block" value="SEND"/>
        </td>
    </tr>
  </table>
</form>
{% endif %}
{% endblock content %}
