{% extends "base.html" %}
      {% block content %}
      {% if title=='home' %}
      <form autocomplete="off" method="post" action="/mw">
      <div class="inline-block absolute form-control w-full">
        <input id="myInput" name="search" type="text" placeholder="type 'infy'" class="w-full input input-bordered" />
      <ul id="result" class="menu menu-normal bg-white w-full">
        <li><a>SBIN-EQ<span class="px-2 bg-violet-300">BSE</span><span class="px-2 bg-yellow-300">182.00</span></a></li>
        <li><a>NIFTY50</a></li>
        <li><a>TRIDENT-EQ</a></li>
      </ul>
      </div>
      </form>
      {% endif %}
        <div class="mb-5 overflow-x-auto">
          <table id="table" class="table w-full">
            <thead>          
            <tr>
            {% for k in th %}
                <th>{{ k }}</th>      
            {% endfor %}
            </tr>
            </thead>
            <tbody>
              {% for tr in data %}
              <tr>
               {% for v in tr %}
                  <td>{{ v }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                {% for k in th %}
                <th id="{{ k }}"></th>      
                {% endfor %}
              </tr>
            </tfoot>
          </table>
        </div>
     <div class="overflow-x-auto mb-5">
       <table class="table w-full">
            <tr>
            {% for k in mh %}
                <th>{{ k }}</th>      
            {% endfor %}
            </tr>
            {% for tr in md %}
            <tr>
             {% for v in tr %}
                <td>{{ v }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </table>
        </div>
     {% endblock content %}


